@page "/chart"

<h3>TSChart</h3>

<TSChart ConfigMethodName="GetChatConfig" Type="line" Data="ChartDatas" @ref="Ref" />
<div>
    <button type="button" @onclick="HandleButtonClick" class="btn">Atualizar Gráfico</button>
</div>

@using System.Collections.Generic

@code {

    public TSChart Ref;

    protected override void OnInitialized()
    {
        FillChartData();
    }

    List<ChartModel> ChartDataOne = new List<ChartModel>();
    List<ChartModel> ChartDataTwo = new List<ChartModel>();
    List<object> ChartDatas = new List<object>();

    private void FillChartData() {
        // chart one
        ChartDataOne.Add( new ChartModel{X = 1, Y = RandomNumber(0, 100)} );
        ChartDataOne.Add( new ChartModel{X = 2, Y = RandomNumber(0, 100)} );
        ChartDataOne.Add( new ChartModel{X = 3, Y = RandomNumber(0, 100)} );
        ChartDataOne.Add( new ChartModel{X = 4, Y = RandomNumber(0, 100)} );
        ChartDataOne.Add( new ChartModel{X = 5, Y = RandomNumber(0, 100)} );
        ChartDataOne.Add( new ChartModel{X = 6, Y = RandomNumber(0, 100)} );
        ChartDataOne.Add( new ChartModel{X = 7, Y = RandomNumber(0, 100)} );
        ChartDataOne.Add( new ChartModel{X = 8, Y = RandomNumber(0, 100)} );
        ChartDataOne.Add( new ChartModel{X = 9, Y = RandomNumber(0, 100)} );
        ChartDataOne.Add( new ChartModel{X = 10, Y = RandomNumber(0, 100)} );
        ChartDataOne.Add( new ChartModel{X = 11, Y = RandomNumber(0, 100)} );
        ChartDataOne.Add( new ChartModel{X = 12, Y = RandomNumber(0, 100)} );

        // chart two
        ChartDataTwo.Add( new ChartModel{X = 1, Y = RandomNumber(0, 100)} );
        ChartDataTwo.Add( new ChartModel{X = 2, Y = RandomNumber(0, 100)} );
        ChartDataTwo.Add( new ChartModel{X = 3, Y = RandomNumber(0, 100)} );
        ChartDataTwo.Add( new ChartModel{X = 4, Y = RandomNumber(0, 100)} );
        ChartDataTwo.Add( new ChartModel{X = 5, Y = RandomNumber(0, 100)} );
        ChartDataTwo.Add( new ChartModel{X = 6, Y = RandomNumber(0, 100)} );
        ChartDataTwo.Add( new ChartModel{X = 7, Y = RandomNumber(0, 100)} );
        ChartDataTwo.Add( new ChartModel{X = 8, Y = RandomNumber(0, 100)} );
        ChartDataTwo.Add( new ChartModel{X = 9, Y = RandomNumber(0, 100)} );
        ChartDataTwo.Add( new ChartModel{X = 10, Y = RandomNumber(0, 100)} );
        ChartDataTwo.Add( new ChartModel{X = 11, Y = RandomNumber(0, 100)} );
        ChartDataTwo.Add( new ChartModel{X = 12, Y = RandomNumber(0, 100)} );

        // chart datas
        ChartDatas.Add(ChartDataOne);
        ChartDatas.Add(ChartDataTwo);
    }

    private void HandleButtonClick() {
        ChartDataOne.Clear();
        ChartDataTwo.Clear();
        ChartDatas.Clear();
        FillChartData();
        Ref.UpdateChart();
    }

    private int RandomNumber(int min, int max)  
    {  
        Random random = new Random();  
        return random.Next(min, max);  
    }

}