@page "/sidenav"

<h3>TSSidenav</h3>

<div>
    <a href="#" data-target="slide-left" class="sidenav-trigger btn">Side Left</a>
    <a href="#" data-target="slide-right" class="sidenav-trigger btn">Side Right</a>
</div>

<TSSidenav Id="slide-left">
    Slide Left
</TSSidenav>
<TSSidenav Id="slide-right" Edge="right">
    Slide Right
</TSSidenav>