@page "/tabs"

<h3>TSTabs</h3>

<TSTabs>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#test1">Test 1</a></li>
                <li class="tab col s3"><a href="#test2">Test 2</a></li>
                <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
                <li class="tab col s3"><a href="#test4">Test 4</a></li>
            </ul>
        </div>
        <div id="test1" class="col s12">Test 1</div>
        <div id="test2" class="col s12">
            <TSDatepicker Lang="en">
                <TSTextMask Pattern="00-00-0000">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" @bind-value="Birthdate" id="birthdate" class="validate" />
                            <label for="birthdate">TSDatepicker Modal Default</label>
                        </div>
                    </div>
                    <div class="row mt-m-20">
                        <div class="col s12">
                            <code>@Birthdate</code>
                        </div>
                    </div>
                </TSTextMask>
            </TSDatepicker>
        </div>
        <div id="test3" class="col s12">Test 3</div>
        <div id="test4" class="col s12">
            <TSDatepicker Type="flatpickr">
                <TSTextMask Pattern="00-00-0000">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" @bind-value="Birthdate2" id="birthdate2" class="validate" placeholder="Data" />
                            <label for="birthdate2">TSDatepicker Inline Default</label>
                        </div>
                    </div>
                    <div class="row mt-m-20">
                        <div class="col s12">
                            <code>@Birthdate2</code>
                        </div>
                    </div>
                </TSTextMask>
            </TSDatepicker>
        </div>
    </div>
</TSTabs>

@code {
    string Birthdate;
    string Birthdate2;
}