@page "/tooltip"

<h3>TSTooltip</h3>

<TSTooltip ExitDelay="0" EnterDelay="100" Display="inline">
    <span class="btn" data-position="right" data-tooltip="I am a tooltip">Span with Wrapper</span>
    <span class="btn" data-position="left" data-tooltip="I am a tooltip 2">Span with Wrapper</span>
    <span class="btn" data-position="bottom" data-tooltip="I am a tooltip 3">Span with Wrapper</span>
</TSTooltip>

<TSTooltip ExitDelay="0" EnterDelay="100" Display="inline">
    <span class="btn" data-position="bottom" data-tooltip="I am a tooltip 4">Span with Wrapper</span>
</TSTooltip>

<hr />

<TSTooltip ExitDelay="0" EnterDelay="100">
    <span class="btn" data-position="top" data-tooltip="I am a tooltip 5">Span with Wrapper</span>
</TSTooltip>