.datepicker-modal {
    max-width: 340px;
}
.datepicker-date-display {
    display: none;
}
.datepicker-footer {
    display: none;
}
.datepicker-day-button:hover {
    background-color: rgba(43,161,150,0.25);
}
.datepicker-controls .select-month input {
    width: 85px;
}

.flatpickr-current-month {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flatpickr-monthDropdown-months {
    display: block;
}

.TSChart {
    width: 100%;
}
.TSChart canvas {
    max-width: 100%;
}