.datepicker-modal {
    max-width: 340px;
}
.datepicker-date-display {
    display: none;
}
.datepicker-footer {
    display: none;
}
.datepicker-day-button:hover {
    background-color: rgba(43,161,150,0.25);
}
.datepicker-controls .select-month input {
    width: 85px;
}
.datepicker-open {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    background: url(../img/calendar.png) no-repeat center;
    background-color: transparent !important;
}

.TSDatepicker .input-field {
    position: relative;
}
    .TSDatepicker .input-field .datepicker-open {
        position: absolute;
        right: 14px;
        top: 14px;
    }

.flatpickr-current-month {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flatpickr-monthDropdown-months {
    display: block;
}

.TSChart {
    width: 100%;
}
.TSChart canvas {
    max-width: 100%;
}