@inherits LayoutComponentBase

<NavMenu />

<div class="main">
    <div class="top-row px-4 text-left">
        <a href="#" data-target="main-menu" class="top-nav sidenav-trigger full hide-on-large-only"><i class="material-icons">menu</i></a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@inject IJSRuntime JSRuntime

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //_ = await JSRuntime.InvokeAsync<string>("RunUpdateInputText");
    }
}